body {
   margin: 0 auto;
}


/*nav*/

nav {
    background-color: rgb(0, 80, 158);
    float: right;
    border-radius: 0px 0px 0px 20px;
    margin-bottom: 8%;
    height: auto;
    display: flex;
    margin-right: 0;
  
  }
  
  nav a {
    padding: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  nav a:hover {
    transition-delay: 0.1s;
    transform: scale(1.1);
    border-radius: 5px;
  }
  
  nav a:focus {
    color: rgb(0, 80, 158);
  }

  
/*main page*/

main,
.title, #container {
  clear: right;
}







/*Game page*/
#container {
    display: flex;
    justify-content: center;
    
}

#grid {
    width: 370px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
}

.card {
    display: flex;
    width: 100px;
    height: 160px;
    margin: 5px;
    background-color: rgb(170, 50, 80);
    border: 3px solid gold;
    border-radius: .5em;
    justify-content: center;
    align-content: center;
    transition: transform 2s, width 2s;
}

h1 {
    margin-left: 1em;
    font-size: 2em;
}

.card:hover {
    width: 0;
    
}

.how-to-play {
    margin-top:50px;
    bottom:0px;
    width: 60%;
    margin:0 auto;
}

.how-to-play h2 {
    font-size: 20px;
   text-align: center;
    
}

.how-to-play li {
    font-size: 17px;
    margin-bottom: 5px;
}